<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Cliente</title>
    <link rel="stylesheet" th:href="@{/css/newclient.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
    </div>

    <div class="form-container">
        <h2>Formulario de Nuevo Cliente</h2>
        <form th:action="@{/client/formClient}" th:object="${client}" method="post">
            <input type="hidden" th:field="*{id}" />

            <label for="ciRuc">CI / RUC:</label>
            <input type="text" id="ciRuc" th:field="*{ci_ruc}" placeholder="Ingrese CI o RUC" required />

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" placeholder="Ingrese nombre" required />

            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" th:field="*{telefono}" placeholder="Ingrese teléfono" required />

            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" th:field="*{direccion}" placeholder="Ingrese dirección" required />

            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" placeholder="Ingrese email" required />

            <button type="submit" class="submit-btn">Guardar</button>
        </form>
    </div>
</section>


</body>
<script th:src="@{/js/scripts/menu.js}"></script>
</html>